﻿
@{
    ViewData["Title"] = "ForgotPassword";
}
<h4>Please enter New Password</h4>
<form asp-action="ForgotPassword">
    <div class="form-group">
        @Html.Label("EmailAddress")
        @Html.TextBox("EmailAddress", null, new {
       @class="form-control", @id= "EmailAddress",
       placeholder = "EmailAddress"
   })
    </div>
    <div class="form-group">
        @Html.Label("Password")
        @Html.Password("Passwordvalue", null, new {
       @class="form-control", @id= "Passwordvalue",
       placeholder = "NewPassword"
   })
    </div>
    <div class="form-group">
        @Html.Label("ConfirmPassword")
        @Html.Password("ConfirmPassword", null, new {
       @class="form-control", @id= "ConfirmPassword",
       placeholder = "ConfirmPassword"
   })
    </div>
    <br />
    <br />
    <div class="form-group">
        <input type="submit" id="submit" value="Verify" class="btn btn-default" />
    </div>
</form>
@ViewBag.Message
