﻿@model LoginApp.Models.LoginClass

@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<hr />
<script src="https://www.google.com/recaptcha/api.js" type="text/javascript"></script>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer>
</script>
<div class="row">
    <div class="col-md-4">
        <font color="red">
            @ViewBag.message
        </font>
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Email Address</label>
                <input asp-for="EmailAddress" class="form-control" required placeholder="Email Address" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" required placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="g-recaptcha" data-sitekey="6Ldo9P8UAAAAAHxXlNbpLZ0xYT25dh3Ir5Jetv9i" id="recaptcha" ></div>

            <div class="form-group">
                <input type="submit" value="Log In" class="btn btn-default" />
            </div>
            <div class="form-group">
                @Html.ActionLink("Forgot Password?", "ForgotPassword", "Account")
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
