﻿@model LoginApp.Models.ApplicationUser

@{
    ViewData["Title"] = "Create";
}

<h2>Sign Up</h2>
<hr />
<script src="https://www.google.com/recaptcha/api.js" type="text/javascript"></script>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer>
</script>
<div class="label-info">
    <b>@ViewBag.message</b>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" type="text" pattern="[a-zA-Z]{3,}" required />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" pattern="[A-Za-z]{3,32}" required />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" type="date" min="1980-12-31" max="2019-01-01" onkeydown="return false" required />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" class="form-control" required>
                    <option selected disabled>---Select Gender---</option>
                    <option>Male</option>
                    <option>Female</option>
                    <option>Other</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Email Address</label>
                <input asp-for="EmailAddress" class="form-control" required />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Upload Profile Picture</label>
                <input type="file" name="UploadImage" class="form-control" required  />
                <span asp-validation-for="UploadImage" class="text-danger"></span>
            </div>

            <div class="g-recaptcha" data-sitekey="6Ldo9P8UAAAAAHxXlNbpLZ0xYT25dh3Ir5Jetv9i" id="recaptcha"></div>
            <div class="form-group">
                <input type="submit" id="submit" value="Save User" class="btn btn-default" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
