﻿
@{
    ViewData["Title"] = "PasswordEntry";
}

<h4>Verification</h4>
<form method="post" asp-action="PasswordEntry">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <label>An activation code has been sent to your email. Please add the code below.</label>
    <div class="form-group">
        @Html.Label("Password")
        @Html.Password("Passwordvalue", null, new {
       @class="form-control", @id= "Passwordvalue",
       placeholder = "Password"
   })
    </div>
    <div class="form-group">
        @Html.Label("ConfirmPassword")
        @Html.Password("ConfirmPassword", null, new {
       @class="form-control", @id= "ConfirmPassword",
       placeholder = "ConfirmPassword"
   })
    </div>
    <div class="form-group">
        <input type="submit" id="submit" value="Verify" class="btn btn-default" />
        <script type="text/javascript">
            $(document).ready(function () {
                $("#submit").click(function () {
                    if ($("#Passwordvalue").val() == "") {
                        alert("There is no value in textbox");
                    }
                    else {
                        if ($("#ActivationCodevalue").val() == "")
                            alert("There is no value in textbox");
                    }
                });
            });
        </script>
    </div>
</form>


@ViewBag.Message
