﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
   shrutisharma756@gmail.com
</address>

<address>
    <strong>Support:</strong> <a href="mailto:shrutisharma756@gmail.com">shrutisharma756@gmail.com</a><br />
</address>
